.container-wrapper {
  background-image:url(https://images.pexels.com/photos/7527825/pexels-photo-7527825.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  padding: 115px 115px;
  border-radius: 5px;
  box-shadow: 7px 7px 7px 7px black;
  color:black;
  font-size: 18px;
  text-align: center;
  position: relative;
  max-width: 610px;
  margin:0 auto;
  font-family: 'Merienda', cursive;
}
.form {
  border-radius: 1px 15px;
  border-color: #819aa4;
}
.searchbox {
  border-radius: 1px 15px;
  border-color: #819aa4;
}
.searchbox:hover {
  background-color: #819aa4;
}
h1 {
  text-align: center;
  position: relative;
  color: black;
  font-size: 18px;
}
h2 {
  position: relative;
  font-size: 30px;
}
.description{
text-align:center;
position:relative;
max-width: 100px;
}
.weather-list{
  position: absolute; top: 5px; right: 5px;
  list-style: none;
  font-size:15px;
}
.temp {
  font-size: 22px;
}
a:link{
  text-decoration: none;
}
button:hover {
  background-color: #819aa4;
  color: black;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
button {
  border-radius: 1px 15px;
  border-color: #819aa4;
  cursor: pointer;
  transition: opacity 2s ease-out, background 1s linear, width 1s, height 1s,
    font-size 1s;
}
.app{
text-decoration: none;
font-size:10px;
position: absolute; bottom: 5px; left: 5px;
}
.app-button{
  border-radius: 1px 50px;
  background-color: #90908B;

}
.fahrenheit{
  color:#48484A;
  cursor:default;
}
.celsius{
  color:#48484A;
  cursor:default;
}
.des{
text-transform: capitalize;
}
.weather-forecast{
  text-align:center;
}
.weather-forecastdate{
  font-size: 14px;
  margin-top:20px;
}
.weather-forecasttemp {
font-size: 14px;
}

